[Unit]
Description=RFID Lock Control.
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/develop/RFID_Lock_Control/code/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target